:root {
	// gloabl colors here
	--db-blue: #091345;
	--db-yellow: #ffff00;

	--db-text-light: #eaeaea;
	--db-text-dark: #000000;
	--db-line-blue: #5b699c;
	--db-green: #00962b;
}

body {
	background-color: #212121;
	margin: 0;
}
