@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	// gloabl colors here
	--db-blue: #091345;
	--db-yellow: #ffff00;

	--db-text-light: #eaeaea;
	--db-text-dark: #000000;
	--db-line-blue: #5b699c;
	--db-green: #00962b;
	--bg-light: #f4f4f4;
	--text-dark: #121212;
	--text-light: #cfcfcf;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	background-color: var(--bg-light);
	color: var(--text-dark);
}
